<div style="background-repeat: repeat; background-image: url(https://i.makeagif.com/media/5-07-2014/cRZAPi.gif); width: 2560px; height: 1600px">
</div>
<audio loop autoplay>
  <source src ="/assets/He-Man.mp3" type="audio/mpeg">
</audio>